<!DOCTYPE HTML>
	<html>
		<head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>Udacity Project 1: Marc's Notes</title>
			<link rel="stylesheet" href="/stylesheets/CSS_for_Stage4.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />-->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
		
        </head>
		<body>
            
			<div class="title_elements">
                <div class="stage_title_box_1">
                    <h1 class="subtitle">Udacity's Introduction to Programming <span class="large">Nanodegree</span></h1>
                        <hr class="subtitle_break">
                    <h2 class="subtitle">By: Marc Anderson</h2>
                </div>
			</div>
            <br><br>
            <hr class="page_break_down">
            <div>
                <div class="box_1">
                    <a href="\stage_1">
                        <div class="stage_buttons">
                        <p>Stage 1<br>
                        Creating a Webpage</p>
                        </div>
                    </a>
                </div>
                <div class="box_2">
                    <a href="\stage_2">
                        <div class="stage_button2">
                        Stage 2<br>
                        Telling Computers<br> 
                        What To Do
                        </div>
                    </a>
                </div>
                <div class="box_3">
                    <a href="\stage_3">
                        <div class="stage_button3">
                        <p>Stage 3<br>
                        The Power of Abstraction</p>
                        </div>
                    </a>
                </div>
                <div class="box_4">
                    <a href="\stage_4">
                        <div class="stage_button4">
                        <p>Stage 4<br>
                        Templates and Modifications</p>
                        </div>
                    </a>
                </div>
                <div class="box_1">
                    <a href="\stage_5">
                        <div class="stage_buttons">
                        <p>Stage 5<br>
                        Under Construction</p>
                        </div>
                    </a>
                </div>

            </div>
            <div class="clear"></div>
            <hr class="page_break_up">
        
                {% block content %}

                {% endblock %}
            <br>
            
        </body>
    </html>    